
<!DOCTYPE html>
<html lang = "en-US">
<head>
    <title>{{ title }}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link type="stylesheet" src="/css/test.css"/>
</head>
<body>
    <div class="container">
        Hello, {{ name }}
    </div>
</body>
</html>